.app {
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, #87ceeb, #b0e0e6); /* sky base */
}



/* Cloud background animation */
.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url("https://cdn.pixabay.com/photo/2013/07/18/10/56/clouds-163715_1280.jpg");
  background-size: cover;
  animation: moveClouds 60s linear infinite;
  opacity: 0.6;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: black;
}


@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

form, .weather-box, .error {
  position: relative;
  z-index: 1; /* keep content above clouds */
}
